{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container card" style="margin-top: 3%;">
    <legend class="border-bottom mb-4" style="margin-top: 1%; margin-bottom: 5%;">You have been logged out.</legend>
    <img src="https://i.gifer.com/W1ph.gif" style="margin-left: 20%; height: 350px; width: 350px;">
    <div class="border-top pt-2 mb-1">
      <small class="text-muted">
        <a class='ml-2' href="{% url 'login' %}">Log In Again</a>
      </small>
    </div>
  </div>
{% endblock %}
