/* GENERAL */
body {
  background: #e9ecef;
}

div {
  width: 70%;
}

a {
  color: orange;
}


/* NAVBAR */

.form-inline { /* SEARCH BAR */
  width: 150%;
}

.dropdown-menu{
  border: 1px solid gray;
  text-align: center;
  position: relative;
}

#cart {
  width: auto;
  left: -65px;
}

#notifications {
  width: auto;
  left:-120px;
}

#user_panel{
  left: -65px;
}

#cart_items{
  width: 80%;
}

#div_id_country, #div_id_city, #div_id_street, #div_id_postal_code  {
  width: 140%;
}

#div_id_quantity {
  margin-top:5px;
}

#div_id_text{
  width: 140%;
}


 /* HOMEPAGE */
.heading {
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
}

#card-item {
  border: 1px solid #dee2e6;
  max-height:27rem;
}

#detail-button{
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

.card-img-top {
  height: 60%;
  width:auto;
  object-fit: cover;
  border-bottom: 1px solid #dee2e6;
}

.card-body{
  width: 100%;
}

.option{
  width: 100%;
  border-radius: 10px;
  background: white;
  border: 1px solid #f5f3f4;
}

.list-group {
  width: 80%;
  margin-right: 10%;
}

#top-item {
  background: #ffba08;
  border: #faa307;
}

.suggestions {
  margin-left: 25%;
  width: 75%;
}

.images{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3%;
}


/* SALE OFFERS */
.characteristic{
  margin-left: 3%;
}

.items {
  margin-left: 28%;
  width: 72%;
}

.offer {
  margin-bottom: 30px;
  height: 280px;
  width: 100%;
}

.filters{
  float: left;
  width: 26%;
}

.category{
  position: relative;
  left: -15px;
  text-align: center;
}

.filters, .offer {
  border-radius: 5px;
}

.form-check-label{
  margin-bottom: 4px;
  font-size: 1.1rem;
}

.form-check-input{
  width: 15px;
  height: 15px;
}


/* SALE DETAIL */
.carousel-control-next, .carousel-control-prev{
  background: #e5e5e5;
  opacity:0.2;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
  background: #e5e5e5;
  opacity:0.3;
}

#carouselExampleIndicators{
  height: 100%;
}
