{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container card" style="margin-top: 3%;">
    <form method="post" style="margin-top: 20px;">
      {% csrf_token %}
      <fieldset class='form-group'>
          <legend class="border-bottom mb-2">Log In</legend>
          {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-warning" type="submit" name="button">Log In</button>
      </div>
    </form>
    <div class="border-top pt-2 mb-1" style ="margin-bottom: 20px;">
      <small class="text-muted">
        Need an account? <a class='ml-2' href="{% url 'register' %}">Sign Up Now</a>
      </small>
    </div>
  </div>
{% endblock %}
