{% extends 'accounts/base_profile.html' %}
{% load crispy_forms_tags %}
{% load items_extras %}
{% block profile %}
  <div class="container card" id="profile">
    <legend class="border-bottom mb-4" style="margin-top: 1%; margin-bottom: 5%;">Profile</legend>
    <legend><strong>Username: </strong>{{ profile.username }}</legend>
    <legend><strong>E-mail: </strong>{{ profile.email }}</legend>
    <legend><strong>Rating: </strong>{{ profile.profile.rating }}/5.0 <span class="fa fa-star" style="font-size: 1.2rem;"></span></legend>
    <legend><small class="text-muted">Date joined: {{ profile.date_joined }}</small></legend>
    <legend><small class="text-muted">Last login: {{ profile.last_login }}</small></legend>
  </div><br>
  {% if user.id == profile.id %}
  <div class="container card" id="myitems">
    <legend class="border-bottom mb-4" style="margin-top: 1%; margin-bottom: 5%;">My items</legend>
    {% if items %}
      {% for item in items %}
      <div class="container">
        <li class="list-group-item">
          <h4 style="float: left;">{{ item.name }} {{ item.producer }}</h4>
          <form method="post" enctype='multipart/form-data' style="float: right;">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-warning btn-sm" type="submit" name="delete_item" value={{item.id}}><span class="fa fa-trash-o"></span> Delete</button><br><br>
          </form><br><br>
          <p><small class="text-muted">
            Condition: <strong>{{ item.get_condition }}</strong>
            <span class="characteristic">Weight: <strong>{{ item.weight }}g</strong></span>
            <span class="characteristic">Height: <strong>{{ item.height }}cm</strong></span>
            <span class="characteristic">Length: <strong>{{ item.length }}cm</strong></span>
            <span class="characteristic">Width: <strong>{{ item.width }}cm</strong></span>
          </small></p>
          <p><small class="text-muted">
            Color: <strong>{{ item.color }}</strong>
          </small></p>
        </li>
      </div><br>
      {% endfor %}
      <br>
    {% else %}
      <legend><strong>No items available.</strong></legend>
    {% endif %}
  </div><br>
  {% endif %}

  {% if user.id == profile.id %}
  <div class="container card" id="myshopping">
    <legend class="border-bottom mb-4" style="margin-top: 1%; margin-bottom: 5%;">My orders</legend>
    {% if orders %}
      {% for order in orders %}
      <div class="container">
        <a class="list-group-item list-group-item-action" href="{% url 'order' order.id %}">
          <h4 style="margin-top: 10px;">{{ order }}</h4>
          <p><small class="text-muted">
            Status: <strong>{{ order.status }}</strong>
          </small></p>
        </a>
      </div><br>
      {% endfor %}
      <br>
    {% else %}
      <legend><strong>No orders available.</strong></legend>
    {% endif %}
  </div><br>
  {% endif %}

  <div class="container card" id="mysales">
    <legend class="border-bottom mb-4" style="margin-top: 1%; margin-bottom: 5%;">Sales</legend>
    {% if sales %}
      {% for sale in sales %}
      <div class="container">
        <a class="list-group-item list-group-item-action" href="{% url 'items:detail' sale.id %}" style="height:180px;">
          <img src="{{ sale.first_image.url }}" class="img-thumbnail float-left" style="width: 150px; height:150px; object-fit: cover; margin-right: 10px;">
          <h4>{{ sale.title }}</h4>

          <form method="post" enctype='multipart/form-data' style="float: right;">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-warning btn-sm" type="submit" name="delete_sale" value={{sale.id}}><span class="fa fa-trash-o"></span> Delete</button><br><br>
          </form>

          <legend>{{ sale.price }}zł</legend>
          <p><small class="text-muted">
            Producer: <strong>{{ sale.item.producer }}</strong>
            <span class="characteristic">Condition: <strong>{{ sale.item.get_condition }}</strong></span>
            <span class="characteristic">Number of pieces in the package: <strong>{{ sale.quantity }}</strong></span>
          </small></p>
          <p><small class="text-muted">
            Color: <strong>{{ sale.item.color }}</strong>
          </small></p>
        </a>
      </div><br>
      {% endfor %}

    {% else %}
      <legend><strong>No sales available.</strong></legend>
    {% endif %}
  </div><br>


{% endblock %}
