{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container card">
    <form method="post" style="margin-top: 20px;" enctype='multipart/form-data'>
      {% csrf_token %}
      <fieldset class='form-group'>
          <legend class="border-bottom mb-2">Add an Item</legend>
          {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-warning" type="submit" name="button">Next step</button>
      </div>
    </form>
    <div class="border-top pt-2 mb-1" style ="margin-bottom: 20px;">
      <small class="text-muted">
        Need to check your items? <a class='ml-2' href="{% url 'profile' user.id %}#myitems">See your Items</a>
      </small>
    </div>
  </div><br>
{% endblock %}
