{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 style="margin-left: 8%;">Recently added offers</h1><br>
  <div class="list-group-item filters">
    <h2>Filters</h2>
    <hr>

    <div style="width:100%; margin-left: 0px;">
      <form class="form-check" action="{% url 'items:index' %}" method="post">
          {% csrf_token %}
          <div class="categories">

            <h4 class="category">Categories</h4>
            <input class="form-check-input" type="checkbox" id='ALL' name="category" value='ALL'>
            <label class="form-check-label" for='ALL'>All</label><br>

            {% for category in categories %}
              <input class="form-check-input" type="checkbox" id={{category.0}} name="category" value={{category.0}}>
              <label class="form-check-label" for={category.0}>{{ category.1 }}</label><br>
            {% endfor %}<br>

          </div>

          <h4 class="category">Condition</h4>
          {% for condition in conditions %}
            <input class="form-check-input" type="radio" id={{condition.0}} name="condition" value={{condition.0}}>
            <label class="form-check-label" for={condition.0}>{{ condition.1 }}</label><br>
          {% endfor %}<br>

          <h4 class="category">Delivery</h4>
          <input class="form-check-input" type="checkbox" id='free_delivery' name="free_delivery" value=true>
          <label class="form-check-label" for='free_delivery'>Free delivery</label><br><br>

          <h4 class="category">Color</h4>
          <input class="form-control" type="text" id="color" name="color" style="width:90%;"><br>

          <h4 class="category">Producer</h4>
          <input class="form-control" type="text" id="producer" name="producer" style="width:90%;"><br>

          <input class="btn btn-warning" style="width:90%;" type="submit" value="Submit filters">
        </form>
      </div>
    </div>
    {% block items %}
    {% endblock %}
{% endblock %}
