{% extends "base.html" %}
{% load static %}
{% load items_extras %}
{% block content %}
  <div class="container" style="margin-top:3%;">

    <div class="position-fixed" style="width: 22%; margin-left: 9%;">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true" id="top-item" ><span class="fa fa-filter"></span> Categories</li>
        <a href="{% url 'items:index' %}" class="list-group-item list-group-item-action" style="font-size: 1.15rem;">All</a>

        {% for key in categories %}
          <a href="{% url 'items:filter' key %}" class="list-group-item list-group-item-action" style="font-size: 1.15rem;">{{ categories|lookup:key }}</a>
        {% endfor %}

      </ul>
    </div>

    <div class="suggestions" style="margin-left: 47%;">
      <h2>This might interest you...</h2>
      <div style="width: auto; text-align: center; ">
        {% for key, category in categories.items %}

          {% if suggestions|lookup:key %}

            <div class="option">
              <h3 style="margin-top: 20px;">{{category}}</h3>
              <hr style="width: 90%;">
              <div class="images">

                <a
                  class="list-group-item-action image"
                  style="margin-right: 10px;"
                  href="{% url 'items:detail' suggestions|lookup:key|index:0|get_attribute:'id' %}">

                  <img
                    src="{{ suggestions|lookup:key|index:0|get_attribute:'first_image'|get_attribute:'url' }}"
                    class="img-thumbnail thumbnail">

                  <p></p><h5>{{ suggestions|lookup:key|index:0|get_attribute:'price' }}zł</h5>
                  <h5>{{ suggestions|lookup:key|index:0|get_attribute:'title' }}</h5>
                </a>

                <a
                  class="list-group-item-action image"
                  style="margin-right: 10px;"
                  href="{% url 'items:detail' suggestions|lookup:key|index:1|get_attribute:'id' %}">

                  <img
                    src="{{ suggestions|lookup:key|index:1|get_attribute:'first_image'|get_attribute:'url' }}"
                    class="img-thumbnail thumbnail">

                  <p></p><h5>{{ suggestions|lookup:key|index:1|get_attribute:'price' }}zł</h5>
                  <h5>{{ suggestions|lookup:key|index:1|get_attribute:'title' }}</h5>
                </a>

                <a
                  class="list-group-item-action image"
                  href="{% url 'items:detail' suggestions|lookup:key|index:2|get_attribute:'id' %}">

                  <img
                    src="{{ suggestions|lookup:key|index:2|get_attribute:'first_image'|get_attribute:'url' }}"
                    class="img-thumbnail thumbnail">

                  <p></p><h5>{{ suggestions|lookup:key|index:2|get_attribute:'price' }}zł</h5>
                  <h5>{{ suggestions|lookup:key|index:2|get_attribute:'title' }}</h5>
                </a>
              </div>
            </div><br>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
