body {
  background: #e9ecef;
}

div {
  width: 70%;
}

a {
  color: orange;
}

.list-group {
  width: 80%;
  margin-right: 10%;
}

#top-item {
  background: #ffba08;
  border: #faa307;
}

.sale {
  margin-top: 20px;
  margin-left: 40%;
  width: 100%;
}

.characteristic{
  margin-left: 40px;
}

.data{
  float: left;
}

.items {
  margin-left: 47%;
  width: 90%;
}

.offer {
  margin-bottom: 30px;
  height: 280px;
  width: 100%;
}

.card-body{
  width: 100%;
}

.filters{
  float: left;
  width: 30%;
  margin-left: 8%;
}

.carousel-control-prev, .carousel-control-next{
  background: #e9ecef;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 0.01;
  background: #e9ecef;
}

#carouselExampleIndicators{
  height: 100%;
}

.category{
  margin-right: 10%;
  text-align: center;
}

.form-inline{
  width: 150%;
}

.form-check-label{
  margin-bottom: 4px;
  font-size: 1.1rem;
}

.form-check-input{
  width: 15px;
  height: 15px;
}

.filters, .offer {
  border-radius: 5px;
}

.suggestions {
  margin-left: 40%;
  width: 90%;
}

.images{
  width: 90%;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thumbnail{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  object-fit: cover;
  border: 0px;
}

.image{
  border-radius: 10px;
  height: 330px;
  width: 250px;
  float: left;
  margin-left: 20px;
  background: #f5f3f4;
}

.option{
  width: 100%;
  border-radius: 5px;
  background: white;
  border: 1px solid #f5f3f4;
  height: 470px;
}

.dropdown-menu{
  border: 1px solid gray;
  text-align: center;
  position: relative;
}

#cart{
  left: -60px;
}

#user_panel {
  left: -65px;
}
