body {
  background: #e9ecef;
}

div {
  width: 70%;
}

.list-group {
  width: 30%;
  margin-left: 10%;
  margin-top: 10px;
}

#top-item {
  background: #ffba08;
  border: #faa307;
}

.sale {
  margin-top: 20px;
  margin-left: 40%;
  width: 100%;
}

.characteristic{
  margin-left: 40px;
}

.data{
  float: left;
}

.items {
  margin-left: 40%;
  width: 90%;
}

.offer {
  margin-bottom: 30px;
  height: 280px;
  width: 100%;
}

.card-body{
  width: 100%;
}

.filters{
  float: left;
  width: 30%;
  margin-left: 8%;
}

.carousel-control-prev, .carousel-control-next{
  background: #e9ecef;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 0.01;
  background: #e9ecef;
}

#carouselExampleIndicators{
  height: 100%;
}

.category{
  margin-right: 10%;
  text-align: center;
}

.form-inline{
  width: 150%;
}

.form-check-label{
  margin-bottom: 4px;
  font-size: 1.1rem;
}

.form-check-input{
  width: 15px;
  height: 15px;
}
